<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>修改日志</title>
</head>
<body>
    <h1>修改日志</h1>
    <form method="post" action="/blog/update?id=<?=$blog['id']?>">
        <div>
            标题：
            <input type="text" name="title" value="<?=$blog['title']?>">
        </div>
        <div>
            内容：
            <textarea name="content" cols="30" rows="10"><?=$blog['content']?></textarea>
        </div>
        <div>
            是否显示：
            <input type="radio" name="is_show" value="0" <?php if($blog['is_show']==0) echo 'checked'; ?>> 不显示
            <input type="radio" name="is_show" value="1" <?php if($blog['is_show']==1) echo 'checked'; ?>> 显示
        </div>
        <div>
            <input type="submit" value="发表">
        </div>
    </form>
</body>
</html>