<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>日志列表</title>
</head>
<style>
    .order_active {
        font-size: 1.2em;
        color: #F00;
    }
    .page_active {
    background-color: #F00;
    }
</style>

<body>
    <h1>日志列表</h1>
    <div>
        <form>
            关键字：
            <input type="text" name="keywords">
            发表日期：
            <input type="text" name="start_date"> ~
            <input type="text" name="end_date">
            是否显示：
            <input type="radio" name="is_show" value="" checked> 全部
            <input type="radio" name="is_show" value="0"> 不显示
            <input type="radio" name="is_show" value="1"> 显示
            <input type="submit" value="搜索">
        </form>
    </div>
    <br>
    <table width="100%" border="1">
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>发表日期
                <a <?php if($_GET['order_by']=='date' && $_GET['order_way']=='asc' ) echo 'class="order_active" ' ?>
                    href="?order_by=date&order_way=asc
                    <?=getUrlParams(['order_by','order_way'])?>">☝︎</a>
                <a <?php if($_GET['order_by']=='date' && $_GET['order_way']=='desc' ) echo 'class="order_active" ' ?>
                    href="?order_by=date&order_way=desc
                    <?=getUrlParams(['order_by','order_way'])?>">☟</a>
            </th>
            <th>修改日期</th>
            <th>浏览量
                <a <?php if($_GET['order_by']=='display' && $_GET['order_way']=='asc' ) echo 'class="order_active" ' ?>
                    href="?order_by=display&order_way=asc
                    <?=getUrlParams(['order_by','order_way'])?>">☝︎</a>
                <a <?php if($_GET['order_by']=='display' && $_GET['order_way']=='desc' ) echo 'class="order_active" ' ?>
                    href="?order_by=display&order_way=desc
                    <?=getUrlParams(['order_by','order_way'])?>">☟</a>
            </th>
            <th>是否显示</th>
            <th>操作</th>
        </tr>
        <?php foreach($blogs as $blog): ?>
        <tr>
            <td>
                <?=$blog['id']?>
            </td>
            <td>
                <a target="_blank" href="/contents/<?=$blog['id']?>.html"><?=$blog['title']?></a>
            </td>
            <td>
                <?=$blog['created_at']?>
            </td>
            <td>
                <?=$blog['updated_at']?>
            </td>
            <td>
                <?=$blog['display']?>
            </td>
            <td>
                <?=$blog['is_show']==0?'隐藏':'显示'?>
            </td>
            <td>
                <a href="/blog/edit?id=<?= $blog['id']?> ">修改</a>
                <a onclick="return confirm('确定要删除吗？')" href="/blog/delete?id=<?= $blog['id']?>">删除</a>
            </td>
        </tr>
        <?php endforeach; ?>
    </table>
    <?=$pageBtn?>
</body>

</html>